{% load bootstrap_toolkit %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        Sistema de Apostas e Bolões{% block title %}{% endblock %}        
	</title>
	<meta name="description" content="Projeto Adesão">
    <meta name="author" content="Élysson MR">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>
<body>
	<div class="container well well-small" id="header">
		<div id="navigation" class="navbar navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="{% url 'core:home' %}">Apostas e Bolões</a>
                <ul class="nav">
                    {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'adesao:adesao' %}">Adesão</a>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            Apostas
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation">
                                <a href="{% url 'apostas:apostas_loteria' %}">
                                    Apostas Loteria
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'apostas:apostas_bolao' %}">Bolões</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'apostas:minhas_apostas' %}">Minhas Apostas</a>
                            </li>
                        </ul>
                    </li>
                    {% if user.is_staff %}
                    <li>
                        <a href="{% url 'admin:index' %}">Administração</a>
                    </li>
                    {% endif %}
                </ul>
                {% if not user.is_authenticated %}
                <div class="btn-group pull-right">
                    <a href="{% url 'core:login' %}" class="btn btn-primary pull-right">
                    Acesso
                    </a>
                </div>
                
                {% else %}
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="icon white user"></i>
                        {{ user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'core:logout' %}">
                                <i class="icon-off"></i>
                                Sair
                                 
                            </a>
                        </li>
                    </ul>
                </div>        
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container well" id="content">
        {% if msg %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>
                {{ msg }}
            </p>
        </div>
        {% endif %}
		{% block content %}
		{% endblock %}
    </div>

    <div id="footer" class="container well well-small">
        <p>Sistema de Apostas e Bolões. A melhor maneira de organizar as apostas entre os seus amigos!</p>
    </div>
</body>
</html>