{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block title %}
 - Acesso
{% endblock %}

{% block content %}
<div class="row">
	<div class="span4 offset4 well">
		<legend>Acesso ao Sistema de Apostas</legend>
      	{% if error %}
      	<div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>Usuário e/ou senha Incorreto(s)!
        </div>
        {% endif %}
		<form method="POST" action="{% url 'core:login' %}" >
			{% csrf_token %}
			<input type="hidden" name="next" id="next" value="{{ next }}"/>
			<input type="text" id="username" class="span4" name="username" placeholder="Usuário">
			<input type="password" id="password" class="span4" name="password" placeholder="Senha">
			<button type="submit" name="submit" class="btn btn-info btn-block">Acessar</button>
		</form>    
	</div>
</div>
{% endblock %}