{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block title %}
 - Adesão
{% endblock %}

{% block content %}
<form action="{% url 'adesao:adesao' %}" method="post">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
    	<button type="submit" class="btn btn-primary">Participar!</button>
        <input type="reset" class="btn" value="Limpar"/>        
    </div>
</form>
{% endblock %}