{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block title %}
 - Cadastrar Bolão
{% endblock %}


{% block content %}
<h1>Bolão - {{ bolao }}</h1>
<form action="{% url 'apostas:apostar_bolao' bolao.pk %}" method="post">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Apostar</button>
        <input type="reset" class="btn" value="Limpar"/>        
    </div>
</form>
{% endblock %}