{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block title %}
 - Aposta Bolão
{% endblock %}


{% block content %}
<h1>Lista de Bolões Vigentes</h1>

{% if session.msg %}
    <div class="alert alert-success">
        {{ session.msg }}
    </div>
{% endif %}
<table class="table bordered-table zebra-striped table-hover">
    <thead>
        <th>Nome</th>
        <th>Valor</th>
        <th>Time A</th>
        <th>Time B</th>
        <th>Data Final</th>
        <th>Apostar</th>
    </thead>
    <tbody>
        {% for aposta in apostas %}
            <tr>
                <td>{{ aposta.nome }}</td>
                <td>{{ aposta.valor }} R$</td>
                <td>{{ aposta.timeA }} R$</td>
                <td>{{ aposta.timeB }} R$</td>
                <td>{{ aposta.data_final }}</td>
                <td><a href="{% url 'apostas:apostar_bolao' aposta.pk %}" class="btn btn-primary">Apostar</a></td>
            </tr>
        {% empty %}
            <tr >
                <td colspan="6">Nenhum Bolão Cadastrado</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}