{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block title %}
 - Aposta Loteria
{% endblock %}


{% block content %}
<h1>Lista de Apostas Vigentes</h1>

<table class="table bordered-table zebra-striped table-hover">
    <thead>
        <th>Nome</th>
        <th>Valor</th>
        <th>Data Final</th>
        <th>Apostar</th>
    </thead>
    <tbody>
        {% for aposta in apostas %}
            <tr>
                <td>{{ aposta.nome }}</td>
                <td>{{ aposta.valor }} R$</td>
                <td>{{ aposta.data_final }}</td>
                <td><a href="{% url 'apostas:apostar_loteria' aposta.pk %}" class="btn btn-primary">Apostar</a></td>
            </tr>
        {% empty %}
            <tr >
                <td colspan="4">Nenhuma Aposta Cadastrada</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}